name: Flowing Water Build
on: [push]

jobs:
  build_job:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Xcode Path
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

      - name: Compile Flowing Water Dylib
        run: |
          clang++ -dynamiclib -arch arm64 \
          -isysroot $(xcrun --sdk iphoneos --show-sdk-path) \
          -miphoneos-version-min=14.0 \
          -std=c++17 \
          -stdlib=libc++ \
          src/main.mm -o flowing_water.dylib \
          -framework Foundation -framework UIKit -framework CoreGraphics \
          -I./src \
          -O3 \
          -Wall \
          -fobjc-arc

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FlowingWater-Dylib
          path: flowing_water.dylib
