name: Flowing Water Build
on: [push]

jobs:
  build_job:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Compile for iOS ARM64
        run: |
          clang++ -dynamiclib -arch arm64 \
          -isysroot $(xcrun --sdk iphoneos --show-sdk-path) \
          -miphoneos-version-min=14.0 \
          -std=c++17 \
          src/main.mm -o flowing_water.dylib \
          -framework Foundation -framework UIKit -lc++ \
          -O3 -Wall

      - name: Upload Dylib
        uses: actions/upload-artifact@v4
        with:
          name: flowing_water_build
          path: flowing_water.dylib
